<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
</head>
<body>

<nav class="nav navbar-dark navbar-expand-lg">
    <a class=" navbar-brand" href="/">COMP2068 Book Finder</a>
    <ul class="navbar-nav mr-auto">

        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>

    </ul>

</nav>
