<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
</head>
<body>

<nav class="nav navbar-light navbar-expand-lg">
    <a class=" navbar-brand" href="/">COMP2068 Car Finder</a>
    <ul class="navbar-nav mr-auto">

        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/cars">Cars</a></li>

    </ul>

</nav>

<main class="container-fluid" roles=""main">

