<% include shared/header.ejs %>

<h1><%= title %></h1>
<p><%= message %></p>
<div class="jumbotron">
    <h1 class="display-4">Books Finder!</h1>
    <p class="lead">On This website you can find the famous books of all time and also can list your own favourite books.</p>
    <hr class="my-4">
    <p>To List your favourite books click the button below</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="books" role="button">Book List</a>
    </p>
</div>


<% include shared/footer.ejs %>